.env
.env.local
.env.*.local
.git
.gitignore
.github
.dockerignore
.vscode
.idea
*.md
node_modules
npm-debug.log
storage/logs/*
storage/app/*
bootstrap/cache/*
tests
build_output.txt
Dockerfile
docker-compose.yml
vendor
